<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 " lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}startProject{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

		<!-- smart app banner -->
        <meta name="apple-itunes-app" content="app-id=1059442774">
		<!-- smart app banner -->

        <meta name="description" content="">
        <meta name="keywords" content="">

        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <!-- Styles -->
        {{ "vendor/modernizr.min.js" | asset_url | script_tag }}
        {{ "application.css" | asset_url | stylesheet_tag }}

		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">


        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}

    </head>
    <body>
        <div class="wrapper">
        		{% include "header" %}
            <!-- Include -->
            {% block content %}{% endblock %}
            {% include "footer" %}
        </div>
        <!-- Script block allowing child pages to inject their own scripts -->
        {% include "script" %}
    </body>
</html>