.filter
	font-size: 0
	display: flex
	justify-content: center
	align-content: center
	align-items: center

.filter__nav
	display: flex
	justify-content: center
	align-content: center
	position: absolute
	font-size: initial
	height: 300px
	width: 300px
	border-radius: 300px
	background-color: black
	z-index: 10

.filter__nav--item
	position: absolute
	height: 80px
	width: 80px
	border-radius: 50px
	background-color: #525252
	color: white
	text-align: center
	line-height: 80px
	text-transform: uppercase
	font-size: 10px
	&:nth-child(1)
		top: 90px
		width: 120px
		height: 120px
		line-height: 120px

	&:nth-child(2)
		top: -20px

	&:nth-child(3)
		top: 240px

	&:nth-child(4)
		top: 110px
		left: -20px

	&:nth-child(5)
		top: 110px
		left: 240px

.filter__nav--itemReset
	background-color: #555555
	text-transform: uppercase

.filter__item
	display: inline-block
	// height: 100%
	width: auto
	padding: 10px 5px
	font-size: initial
	background-color: #a1a1a1
	outline: 1px solid white
	text-align: center
	text-transform: uppercase
	line-height: 140px

.c-div
	display: inline-block
	width: 25%
	height: 100vh
	font-size: initial
	&[data-tag="cyan"]
		background-color: cyan
	&[data-tag="magenta"]
		background-color: magenta
	&[data-tag="yellow"]
		background-color: yellow
	&[data-tag="black"]
		background-color: black
		color: white



.filter__target:not(:target) ~ .filter__item
	opacity: 1
	transition: all .5s linear

.filter__target:target ~ .filter__item
	opacity: .2
	// display: none
	// visibility: hidden
	transition: all .5s linear
	

[id="tag:cyan"]:target ~ [data-tag~="cyan"],
[id="tag:magenta"]:target ~ [data-tag~="magenta"],
[id="tag:yellow"]:target ~ [data-tag~="yellow"],
[id="tag:black"]:target ~ [data-tag~="black"]
	opacity: 1
	display: inline-block
	visibility: visible
	// height: 100%
	transition: all .5s linear
	

[id="tag:cyan"]:target ~ .filter__nav [href="#tag:cyan"]
	background-color: cyan
	pointer-events: none
	color: black

[id="tag:magenta"]:target ~ .filter__nav [href="#tag:magenta"]
	background-color: magenta
	pointer-events: none
	color: black

[id="tag:yellow"]:target ~ .filter__nav [href="#tag:yellow"]
	background-color: yellow
	pointer-events: none
	color: black

[id="tag:black"]:target ~ .filter__nav [href="#tag:black"]
	background-color: black
	pointer-events: none

h2
	display: none







