{% block content %}

<section class="c-filter">

  <a class="c-filter__target" id="tag:cyan"></a>
  <a class="c-filter__target" id="tag:magenta"></a>
  <a class="c-filter__target" id="tag:yellow"></a>
  <a class="c-filter__target" id="tag:black"></a>

  <nav class="c-filter__nav">
	<a href="#tag:reset" class="c-filter__nav--item  c-filter__nav--itemReset">Reset</a>
	<a href="#tag:cyan" class="c-filter__nav--item">Cyan</a>
	<a href="#tag:magenta" class="c-filter__nav--item">Magenta</a>
	<a href="#tag:yellow" class="c-filter__nav--item">Yellow</a>
	<a href="#tag:black" class="c-filter__nav--item">Black</a>
  </nav>


  <div class="c-div c-filter__item" data-tag="cyan">
	<h2>Cyan</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="cyan">
	<h2>Cyan</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="cyan">
	<h2>Cyan</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div> <div class="c-div c-filter__item" data-tag="cyan">
	<h2>Cyan</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="cyan">
	<h2>Cyan</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="cyan">
	<h2>Cyan</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div> <div class="c-div c-filter__item" data-tag="cyan">
	<h2>Cyan</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="cyan">
	<h2>Cyan</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="cyan">
	<h2>Cyan</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="cyan">
	<h2>Cyan</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="cyan">
	<h2>Cyan</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="cyan">
	<h2>Cyan</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="black">
	<h2>Black</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div c-filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

</section>


{% endblock %}