{% block content %}

<section class="filter">

  <a class="filter__target" id="tag:cyan"></a>
  <a class="filter__target" id="tag:magenta"></a>
  <a class="filter__target" id="tag:yellow"></a>
  <a class="filter__target" id="tag:black"></a>

  <nav class="filter__nav">
	<a href="#tag:reset" class="filter__nav--item  filter__nav--itemReset">Reset</a>
	<a href="#tag:cyan" class="filter__nav--item">Cyan</a>
	<a href="#tag:magenta" class="filter__nav--item">Magenta</a>
	<a href="#tag:yellow" class="filter__nav--item">Yellow</a>
	<a href="#tag:black" class="filter__nav--item">Black</a>
  </nav>


  <div class="c-div filter__item" data-tag="cyan">
	<h2>Cyan</h2>
  </div>

  <div class="c-div filter__item" data-tag="magenta">
	<h2>Magenta</h2>
  </div>

  <div class="c-div filter__item" data-tag="yellow">
	<h2>Yellow</h2>
  </div>

  <div class="c-div filter__item" data-tag="black">
	<h2>Black</h2>
  </div>
  
  <div class
  

</section>


{% endblock %}